.App {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;

    & button {
        align-items: center;
        display: flex;
        justify-content: center;

        @include style-for($var-screen-size-small) {
            outline: none !important;
        }
    }

    & .App__content {
        display: flex;
        flex: 1;
        justify-content: stretch;
    }
}