.App {
    display: flex;
    flex-direction: column;
    height: 100%;

    & button {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    & .App__content {
        display: flex;
        flex: 1;
        justify-content: stretch;
    }
}