$local-icon-content-padding: 0 .25rem;

.ComposeEmailButton {
    padding: 1rem;

    @include style-for($var-screen-size-small) {
        bottom: 0;
        margin: 1rem;
        padding: 0;
        position: fixed;
        right: 0;
        z-index: 72;
    }

    & .ComposeEmailButton__button {
        background-color: $color-app-theme-background;
        border: none;
        @include border-radius($var-compose-email-button-height / 2);
        @include box-shadow(0 .125rem .2rem 0 rgba(0, 0, 0, 0.2));
        color: $color-app-theme-foreground;
        font-size: 1rem;
        font-weight: 600;
        height: $var-compose-email-button-height;
        overflow: hidden;
        @include transition(box-shadow .1s ease-in);
        white-space: nowrap;
        width: 100%;

        @include style-for($var-screen-size-small) {
            @include border-radius($var-compose-email-button-height-small / 2);
            @include box-shadow(0 .125rem .35rem 0 rgba(0, 0, 0, 0.4));
            height: $var-compose-email-button-height-small;
            width: $var-compose-email-button-height-small;
        }

        &:active {
            background-color: darken($color-app-theme-background, 5%);
        }

        &:hover {
            @include box-shadow(0 .125rem .3rem 0 rgba(0, 0, 0, 0.35));
            cursor: pointer;
        }

        & .ComposeEmailButton__icon {
            font-size: $var-header-button-font-size;
            height: $var-header-button-font-size;
            padding: $local-icon-content-padding;

            @include style-for($var-screen-size-small) {
                padding: 1rem;
            }
        }

        & .ComposeEmailButton__content {
            padding: $local-icon-content-padding;
        }
    }
}