.Drawer {

    & .Drawer__content {
        background-color: $color-drawer-background;
        @include box-shadow(0 0 .5rem 0 rgba(0, 0, 0, .2));
        height: 100%;
        overflow: hidden; /* prevent inner content from being shown when width is 0 */
        @include transition(width .5s ease);
        width: $var-drawer-menu-width;
        z-index: 84;

        @include style-for($var-screen-size-small) {
            bottom: 0;
            left: 0;
            position: fixed;
            top: $var-header-height;
            width: $var-drawer-menu-width-small;
        }

        &.Drawer__content--hidden {
            width: 0;
        }
    }
}