$local-checkbox-size: 34px;
$local-invisible-border: 1px solid rgba(0, 0, 0, 0);

.DynamicCheckBox {
    align-items: center;
    color: $color-dynamic-checkbox-foreground;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: normal;

    & .DynamicCheckBox__container {
        height: $local-checkbox-size;
        width: $local-checkbox-size;

        & .DynamicCheckBox__check {
            background-color: $color-dynamic-checkbox-unchecked-background;
            border: 1px solid rgba(0, 0, 0, .25);
            font-size: 24px;

            &.DynamicCheckBox__check--checked {
                background-color: $color-app-theme-background;
                border: $local-invisible-border;
            }
        }

        & .DynamicCheckBox__letter {
            border: $local-invisible-border;
        }

        & .DynamicCheckBox__check, .DynamicCheckBox__letter {
            align-items: center;
            @include border-radius($local-checkbox-size);
            display: flex;
            justify-content: center;
        }
    }
}