$local-checkbox-size: 34px;
$local-invisible-border: 1px solid rgba(0, 0, 0, 0);

.DynamicCheckBox {
    align-items: center;
    border: $local-invisible-border;
    @include border-radius($local-checkbox-size);
    color: $color-dynamic-checkbox-foreground;
    display: flex;
    font-size: 18px;
    font-weight: normal;
    height: $local-checkbox-size;
    justify-content: center;
    width: $local-checkbox-size;

    &.DynamicCheckBox--active {
        /* background-color needs !important, since it is also set inline. */
        background-color: $color-dynamic-checkbox-unchecked-background !important;
        border: 1px solid rgba(0, 0, 0, .2);
        @include border-radius($local-checkbox-size);
        font-size: 24px;
    }

    &.DynamicCheckBox--checked {
        /* background-color needs !important, since it is also set inline. */
        background-color: $color-app-theme-background !important;
        border: $local-invisible-border;
    }
}