$local-font-weight-bold: 700;
$local-font-size-small: .85rem;
$local-font-size-smaller: .8rem;

.EmailListItem {
    
    @include style-for($var-screen-size-small) {
        align-items: stretch;
        display: flex;
        line-height: 1.15rem;
    }

    & .EmailListItem__container {
        align-items: center;
        background-color: $color-email-list-item-unread-background;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
        display: flex;
        flex-direction: row;
        height: $var-email-list-item-height;
        padding: 0 1rem 0 0;
        z-index: 2;

        @include style-for($var-screen-size-small) {
            flex-grow: 1;
            overflow: hidden;
            height: $var-email-list-item-height-small;
            padding: 0 .5rem 0 0;
            /* allow the email list item to be swiped */
            position: relative;
            right: 0;
            /* animation for the swipe. */
            @include transition(right .2s ease-in);
        }

        &:hover {
            background-color: darken($color-email-list-item-unread-background, 5%);
            cursor: pointer;
        }

        /* This style will target email list items that have already been read. */
        &.EmailListItem__container--read {
            background-color: $color-email-list-item-read-background;

            &:hover {
                background-color: darken($color-email-list-item-read-background, 5%);
                cursor: pointer;
            }

            /* Change the text color and font weight for the read emails */
            & .EmailListItem__sender-name,
              .EmailListItem__subject,
              .EmailListItem__preview,
              .EmailListItem__send-date {
                color: $color-email-list-item-read-color;
                font-weight: normal !important;
            }
        }

        /* On Mobile, when the user swipes an email, offset it from the right side */
        &.EmailListItem__container--swiped-open {
            right: $var-email-list-item-options-menu-width;
        }

        & .EmailListItem__checkbox-container {
            align-items: center;
            display: flex;
            font-size: $var-email-list-item-icon-size;
            justify-content: center;
            padding: 0 $var-email-list-item-icon-padding 0 $var-email-list-item-icon-padding;

            @include style-for($var-screen-size-small) {
                max-width: $var-email-list-item-height-small;
                min-width: $var-email-list-item-height-small;
                padding: 0;
            }
        }

        /* This style is for the container of the Sender, Date, Subject, and Preview sections. */
        & .EmailListItem__email-info-container {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            overflow: hidden;
            width: 100%;
            
            @include style-for($var-screen-size-small) {
                flex-wrap: wrap;
            }

            & .EmailListItem__sender-name {
                font-weight: $local-font-weight-bold;
                order: 10;
                width: 15%;

                @include style-for($var-screen-size-small) {
                    flex-basis: auto;
                    line-height: 1.5rem;
                    width: auto;
                }
            }

            & .EmailListItem__subject {
                font-weight: $local-font-weight-bold;
                order: 20;
                max-width: 20%;
                padding-right: .75rem;

                @include style-for($var-screen-size-small) {
                    flex-basis: 100%;
                    font-size: $local-font-size-small;
                    max-width: none;
                    padding-right: 0;
                }
            }

            & .EmailListItem__preview {
                font-size: $local-font-size-smaller;
                max-width: 50%;
                order: 30;

                @include style-for($var-screen-size-small) {
                    flex-basis: 100%;
                    font-size: $local-font-size-small;
                    max-width: none;
                }
            }

            & .EmailListItem__sent-date {
                font-size: $local-font-size-smaller;
                margin-left: auto;
                order: 40;

                @include style-for($var-screen-size-small) {
                    /* 
                    * for mobile, we want the date to be on the top-row. 
                    * changing the order will prevent it from being the last element.
                    */
                    font-size: .7rem;
                    order: 15;
                }
            }

            & .EmailListItem__sender-name, .EmailListItem__subject, .EmailListItem__preview {
                overflow: hidden;
                @include text-overflow(ellipsis);
                white-space: nowrap;
            }
        }
    }
}