.EmailListItem {
    align-items: center;
    background-color: $color-email-list-item-unread-background;
    display: flex;
    flex-direction: row;
    padding: 1rem;

    @include style-for($var-screen-size-small) {
        padding: .25rem .5rem .25rem 0;
    }

    &:hover, &:active {
        background-color: darken($color-email-list-item-unread-background, 5%);
        cursor: pointer;
    }

    &.EmailListItem--read {
        background-color: $color-email-list-item-read-background;

        &:hover, &:active {
            background-color: darken($color-email-list-item-read-background, 5%);
            cursor: pointer;
        }
    }

    & .EmailListItem__email-info-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow: hidden;
        width: 100%;
        
        @include style-for($var-screen-size-small) {
            flex-wrap: wrap;
        }

        & .EmailListItem__sender-name {
            order: 10;
            width: 15%;

            @include style-for($var-screen-size-small) {
                flex-basis: auto;
                width: auto;
            }
        }

        & .EmailListItem__subject {
            font-weight: 600;
            order: 20;
            max-width: 20%;
            padding-right: .75rem;

            @include style-for($var-screen-size-small) {
                flex-basis: 100%;
                font-weight: normal;
                max-width: none;
                padding-right: 0;
            }
        }

        & .EmailListItem__preview {
            max-width: 50%;
            order: 30;

            @include style-for($var-screen-size-small) {
                flex-basis: 100%;
                max-width: none;
            }
        }

        & .EmailListItem__sent-date {
            margin-left: auto;
            order: 40;

            @include style-for($var-screen-size-small) {
                /* 
                * for mobile, we want the date to be on the top-row. 
                * changing the order will prevent it from being the last element.
                */
                
                order: 15;
            }
        }

        & .EmailListItem__sender-name, .EmailListItem__subject, .EmailListItem__preview {
            overflow: hidden;
            @include text-overflow(ellipsis);
            white-space: nowrap;
        }
    }
}