.HeaderButton {
    background: none;
    border: none;
    color: $color-header-item-foreground;
    font-size: $var-header-button-font-size;
    height: $var-header-item-length;
    min-height: $var-header-item-length;
    min-width: $var-header-item-length;
    /*outline: none;*/
    padding: 0;
    width: $var-header-item-length;

    &:hover {
        cursor: pointer;
    }
}