.Header {
    align-items: center;
    background-color: $color-header-background;
    @include box-shadow(0 0 .5rem 0 rgba(0, 0, 0, .2));
    display: flex;
    flex-direction: row;
    height: $var-header-height;
    justify-content: space-between;
    margin: 0;
    padding: 0 $var-header-padding;
    z-index: 16;

    & .left-side-elements {
        display: flex;
        flex: 1;
        flex-direction: row;
    }

    & .right-side-elements {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    & .header-element {
        align-items: center;
        display: flex;
        padding: $var-header-padding;
    }

    & .logo {
        width: 192px;
        
        @include style-for($var-screen-size-small) {
            width: 180px;
        }
    }
}