.HeaderButton {
    background: none;
    border: none;
    color: $color-header-item-foreground;
    font-size: $header-button-font-size;
    height: $header-item-length;
    min-height: $header-item-length;
    min-width: $header-item-length;
    outline: none;
    padding: 0;
    width: $header-item-length;

    &:hover {
        cursor: pointer;
    }
}