.MainHeader {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: $var-header-height;
    justify-content: space-between;
    margin: 0;
    padding: 0 $var-header-padding;

    & .MainHeader__logo {
        width: 192px;
        
        @include style-for($var-screen-size-small) {
            width: 180px;
        }
    }
}