$local-border-radius: $var-header-item-length / 2;
$local-max-width: 520px;
$local-min-width: 180px;

.SearchBar {
    background-color: $color-search-bar-background;
    @include border-radius($local-border-radius);
    max-width: $local-max-width;
    min-width: $local-min-width;
    padding: 0;
    @include transition(background-color .2s ease-in);
    width: $local-max-width;

    @include style-for($var-screen-size-small) {
        width: auto;
    }

    &:hover {
        background-color: $color-search-bar-background-hover;
    }

    &.SearchBar--disabled {
        pointer-events: none;
        opacity: 0.7;
    }

    & .SearchBar__inner-div {
        align-items: center;
        background: none;
        @include border-radius($local-border-radius);
        @include box-shadow(none);
        display: flex;
        flex-direction: row;
        height: $var-header-item-length;

        &.SearchBar__inner-div--focused {
            background-color: $color-search-bar-background-focus !important;
            @include box-shadow(0 0 .1rem .05rem  $color-search-bar-box-shadow-focus !important);
        }
    }
}