#root .App {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%; }
  #root .App button {
    align-items: center;
    display: flex;
    justify-content: center; }
    @media all and (max-width: 1023px) and (max-height: 1024px) {
      #root .App button {
        outline: none !important; } }
  #root .App .App__content {
    display: flex;
    flex: 1;
    justify-content: stretch; }

#root .ComposeEmailButton {
  padding: 1rem; }
  #root .ComposeEmailButton .ComposeEmailButton__button {
    background-color: #00c957;
    border: none;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    border-radius: 24px;
    -webkit-box-shadow: 0 0.125rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.125rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0.125rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.125rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    height: 48px;
    padding: 1rem;
    -webkit-transition: box-shadow 0.1s ease-in;
    -moz-transition: box-shadow 0.1s ease-in;
    -o-transition: box-shadow 0.1s ease-in;
    transition: box-shadow 0.1s ease-in;
    width: 100%; }
    @media all and (max-width: 1023px) and (max-height: 1024px) {
      #root .ComposeEmailButton .ComposeEmailButton__button {
        -webkit-border-radius: 32px;
        -moz-border-radius: 32px;
        -ms-border-radius: 32px;
        border-radius: 32px;
        bottom: 0;
        -webkit-box-shadow: 0 0.125rem 0.35rem 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0.125rem 0.35rem 0 rgba(0, 0, 0, 0.4);
        -ms-box-shadow: 0 0.125rem 0.35rem 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 0.125rem 0.35rem 0 rgba(0, 0, 0, 0.4);
        font-size: 24px;
        height: 64px;
        margin: 1em;
        position: fixed;
        right: 0;
        width: 64px;
        z-index: 72; } }
    #root .ComposeEmailButton .ComposeEmailButton__button:active {
      background-color: #00b04c; }
    #root .ComposeEmailButton .ComposeEmailButton__button:hover {
      -webkit-box-shadow: 0 0.125rem 0.3rem 0 rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0 0.125rem 0.3rem 0 rgba(0, 0, 0, 0.35);
      -ms-box-shadow: 0 0.125rem 0.3rem 0 rgba(0, 0, 0, 0.35);
      box-shadow: 0 0.125rem 0.3rem 0 rgba(0, 0, 0, 0.35);
      cursor: pointer; }

#root .Drawer .Drawer__content {
  background-color: white;
  -webkit-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow: hidden;
  /* prevent inner content from being shown when width is 0 */
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
  width: 270px;
  z-index: 84; }
  @media all and (max-width: 1023px) and (max-height: 1024px) {
    #root .Drawer .Drawer__content {
      bottom: 0;
      left: 0;
      position: fixed;
      top: 64px;
      width: 248px; } }
  #root .Drawer .Drawer__content.Drawer__content--hidden {
    width: 0; }

#root .DrawerMenu {
  width: 270px; }
  @media all and (max-width: 1023px) and (max-height: 1024px) {
    #root .DrawerMenu {
      width: 248px; } }

#root .Header {
  align-items: center;
  background-color: white;
  -webkit-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: space-between;
  margin: 0;
  padding: 0 8px;
  z-index: 96; }
  #root .Header .Header__left-element-group {
    display: flex;
    flex: 1;
    flex-direction: row; }
  #root .Header .Header__right-element-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  #root .Header .Header__element {
    align-items: center;
    display: flex;
    padding: 8px; }
  #root .Header .Header__logo {
    width: 192px; }
    @media all and (max-width: 1023px) and (max-height: 1024px) {
      #root .Header .Header__logo {
        width: 180px; } }

#root .HeaderButton {
  background: none;
  border: none;
  color: #5f6368;
  font-size: 24px;
  height: 36px;
  min-height: 36px;
  min-width: 36px;
  /*outline: none;*/
  padding: 0;
  width: 36px; }
  #root .HeaderButton:hover {
    cursor: pointer; }

#root .ScreenOverlay {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 1.0;
  pointer-events: all;
  position: fixed;
  right: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  top: 0; }
  #root .ScreenOverlay.ScreenOverlay--hidden {
    opacity: 0;
    pointer-events: none; }

#root .SearchBar {
  background-color: #f1f3f4;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
  max-width: 520px;
  min-width: 180px;
  padding: 0;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  width: 520px; }
  @media all and (max-width: 1023px) and (max-height: 1024px) {
    #root .SearchBar {
      width: auto; } }
  #root .SearchBar:hover {
    background-color: #e8eaed; }
  #root .SearchBar.SearchBar--disabled {
    pointer-events: none;
    opacity: 0.7; }
  #root .SearchBar .SearchBar__inner-div {
    align-items: center;
    background: none;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    height: 36px; }
    #root .SearchBar .SearchBar__inner-div.SearchBar__inner-div--focused {
      background-color: white !important;
      -webkit-box-shadow: 0 0 0.1rem 0.05rem #cfd4da !important;
      -moz-box-shadow: 0 0 0.1rem 0.05rem #cfd4da !important;
      -ms-box-shadow: 0 0 0.1rem 0.05rem #cfd4da !important;
      box-shadow: 0 0 0.1rem 0.05rem #cfd4da !important; }

#root .SearchBarButton {
  background: none;
  border: none;
  color: #5f6368;
  font-size: 24px;
  height: 100%;
  margin: 0 8px 0 8px;
  min-height: 100%;
  min-width: 36px;
  /*outline: none;*/
  padding: 0;
  width: 36px; }
  #root .SearchBarButton:hover {
    cursor: pointer; }

#root .SearchBarInput {
  background: none;
  border: none;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%; }
