#root .App {
  display: flex;
  flex-direction: column;
  height: 100%; }
  #root .App button {
    align-items: center;
    display: flex;
    justify-content: center; }
  #root .App .App__content {
    display: flex;
    flex: 1;
    justify-content: stretch; }

#root .Drawer {
  /*
     * Note: The drawer will initially have "width: 0;". When the drawer should become visible,
     * the app will add the ".drawer-content-visible" class to the div, which will update the
     * div's width. We update the width, instead of using "display: none/block", to allow the drawer
     * to animate by sliding in and out when becoming visible and hidden.
     */ }
  #root .Drawer .Drawer__content {
    background-color: white;
    -webkit-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    overflow: hidden;
    /* prevent inner content from being shown when width is 0 */
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
    width: 0;
    z-index: 12; }
    @media all and (max-width: 1023px) and (max-height: 1024px) {
      #root .Drawer .Drawer__content {
        bottom: 0;
        left: 0;
        position: fixed;
        top: 0;
        z-index: 24;
        /* allows the drawer to be drawn over the Header */ } }
    #root .Drawer .Drawer__content.Drawer__content--visible {
      width: 270px; }
      @media all and (max-width: 1023px) and (max-height: 1024px) {
        #root .Drawer .Drawer__content.Drawer__content--visible {
          width: 65%; } }
  @media all and (max-width: 1023px) and (max-height: 1024px) {
    #root .Drawer {
      /*
        * The drawer shadow will only be visible on small screens. Note that it will
        * initially have "pointer-events: none;" and "opacity: 0;", so it will not be
        * seen to the user.
        */ }
      #root .Drawer .Drawer__shadow {
        background-color: rgba(0, 0, 0, 0.2);
        bottom: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        right: 0;
        -webkit-transition: opacity 0.5s ease;
        -moz-transition: opacity 0.5s ease;
        -o-transition: opacity 0.5s ease;
        transition: opacity 0.5s ease;
        top: 0;
        z-index: 20;
        /*
        * This class will be added to the drawer shadow, setting its "opacity: 1;" and
        * "pointer-events: all;". This way it can respond to being tapped by the user,
        * as well as being able to fade in and out.
        */ }
        #root .Drawer .Drawer__shadow.Drawer__shadow--visible {
          opacity: 1.0;
          pointer-events: all; } }

#root .Header {
  align-items: center;
  background-color: white;
  -webkit-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: space-between;
  margin: 0;
  padding: 0 8px;
  z-index: 16; }
  #root .Header .Header__left-element-group {
    display: flex;
    flex: 1;
    flex-direction: row; }
  #root .Header .Header__right-element-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  #root .Header .Header__element {
    align-items: center;
    display: flex;
    padding: 8px; }
  #root .Header .Header__logo {
    width: 192px; }
    @media all and (max-width: 1023px) and (max-height: 1024px) {
      #root .Header .Header__logo {
        width: 180px; } }

#root .HeaderButton {
  background: none;
  border: none;
  color: #5f6368;
  font-size: 24px;
  height: 36px;
  min-height: 36px;
  min-width: 36px;
  /*outline: none;*/
  padding: 0;
  width: 36px; }
  #root .HeaderButton:hover {
    cursor: pointer; }

#root .SearchBar {
  background-color: #f1f3f4;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
  max-width: 520px;
  min-width: 180px;
  padding: 0;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  width: 520px; }
  @media all and (max-width: 1023px) and (max-height: 1024px) {
    #root .SearchBar {
      width: auto; } }
  #root .SearchBar:hover {
    background-color: #e8eaed; }
  #root .SearchBar .SearchBar__inner-div {
    align-items: center;
    background: none;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    height: 36px; }
    #root .SearchBar .SearchBar__inner-div.SearchBar__inner-div--focused {
      background-color: white !important;
      -webkit-box-shadow: 0 0 0.2rem 0 #29b6f6 !important;
      -moz-box-shadow: 0 0 0.2rem 0 #29b6f6 !important;
      -ms-box-shadow: 0 0 0.2rem 0 #29b6f6 !important;
      box-shadow: 0 0 0.2rem 0 #29b6f6 !important; }

#root .SearchBarButton {
  background: none;
  border: none;
  color: #5f6368;
  font-size: 24px;
  height: 100%;
  margin: 0 8px 0 8px;
  min-height: 100%;
  min-width: 36px;
  /*outline: none;*/
  padding: 0;
  width: 36px; }
  #root .SearchBarButton:hover {
    cursor: pointer; }

#root .SearchBarInput {
  background: none;
  border: none;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%; }
