/// The background color of the header.
/// @type {color}
$color-header-background: rgb(255, 255, 255);

/// The foreground color of the header items (buttons, etc.).
/// @type {color}
$color-header-item-foreground: rgb(95, 99, 104);

/// The background color of the search bar in the header.
/// @type {color}
$color-header-search-bar-background: rgb(241, 243, 244);