/// The height of the compose email button.
/// @type {length}
$var-compose-email-button-height: 48px;

/// The height of the compose email button for small screens.
/// @type {length}
$var-compose-email-button-height-small: 64px;

/// The length of the drawer menu badge.
/// @type {length}
$var-drawer-menu-item-badge-length: 28px;

/// The width of the drawer menu.
/// @type {length}
$var-drawer-menu-width: 270px;

/// THe width of the drawer menu for small screens.
/// @type {length}
$var-drawer-menu-width-small: 248px;

/// The font/icon size of buttons in the header.
/// @type {length}
$var-header-button-font-size: 24px;

/// The height of the header.
/// @type {length}
$var-header-height: 64px;

/// The width and/or height of the elements in the header.
/// @type {length}
$var-header-item-length: 36px;

/// The header padding.
/// @type {length}
$var-header-padding: 8px;

/// Indicates small-screen devices. Used as a parameter the style-for mixin.
/// @type {string}
$var-screen-size-small: 'screen-size-small';